<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <h2>Searchit Plugin {{ hive }}</h2>
</head>
<body>
    {% block body %}
      <dl>
      {% for key, value in paths.iteritems() %}
            <strong>{{ key }}</strong>
            {% for vals in value %}
                <li>{{ vals|indent(4, true) }}</li>
            {% endfor %}
      {% endfor %}
      </dl>
      <dl>
      {% for key, value in values.iteritems() %}
            <strong>{{ key }}</strong>
            {% for vals in value %}
                <li>{{ vals[0]|indent(4, true) }} {{ vals[1]|indent(4, true) }}</li>
            {% endfor %}
      {% endfor %}
      </dl>
      <dl>
      {% for key, value in value_names.iteritems() %}
            <strong>{{ key }}</strong>
            {% for vals in value %}
                <li>{{ vals[0]|indent(4, true) }} {{ vals[1]|indent(4, true) }}</li>
            {% endfor %}
      {% endfor %}
       </dl>
    {% endblock %}
</body>
</html>